<%- include('../partials/header.ejs'); %>
<script >
	var jobId="";
</script>
	<div class="container">
		<div class="row panel">
			<% jobs.forEach(function(job){ %>
				<div class="col-lg-3 col-md-3 col-sm-6 d-flex align-items-stretch job" >
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					  	<svg class="bi bi-card-image" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
						  <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
						  <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>
						</svg>
					    <h5 class="card-title"><%= job.job_title%></h5>
					    <h6 class="card-subtitle mb-2 text-muted"><%= job.company_name %>, <%= job.dept_name %> <br> <%= job.location %></h6>
					    <hr>
					    <p class="card-text">
						    <svg class="bi bi-newspaper" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 011.5.5h11A1.5 1.5 0 0114 2v12a1.5 1.5 0 01-1.5 1.5h-11A1.5 1.5 0 010 14V2zm1.5-.5A.5.5 0 001 2v12a.5.5 0 00.5.5h11a.5.5 0 00.5-.5V2a.5.5 0 00-.5-.5h-11z" clip-rule="evenodd"/>
							  <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
							</svg>
							<%= job.job_number %>
					    	&ensp;
					    	<svg class="bi bi-briefcase-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5V6.85L8.129 8.947a.5.5 0 01-.258 0L0 6.85v5.65z" clip-rule="evenodd"/>
							  <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v1.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/>
							</svg>
							<%= job.experience %>
					    </p>
					    <p class="card-text">
					    	<svg class="bi bi-clipboard" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 00-2 2V14a2 2 0 002 2h10a2 2 0 002-2V3.5a2 2 0 00-2-2h-1v1h1a1 1 0 011 1V14a1 1 0 01-1 1H3a1 1 0 01-1-1V3.5a1 1 0 011-1h1v-1z" clip-rule="evenodd"/>
							  <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm-3-1A1.5 1.5 0 005 1.5v1A1.5 1.5 0 006.5 4h3A1.5 1.5 0 0011 2.5v-1A1.5 1.5 0 009.5 0h-3z" clip-rule="evenodd"/>
							</svg>
							<%= job.job_type %>
					    </p>
					    <hr>
					    <p class="card-text">
					    	<svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
							</svg>
							<%= job.no_of_positions %>
							&emsp; &emsp; &ensp;
							<svg class="bi bi-credit-card" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
							  <rect width="3" height="3" x="2" y="9" rx="1"/>
							  <path d="M1 5h14v2H1z"/>
							</svg>
							<%= job.salary %>
						</p>
						<hr>
						<button class="btn btn-outline-secondary" id="accept<%=job.assigned_job%>" 
						<% if(job.status!=="none"){ %> 
							<%= "hidden" %> 
						<% } %> 
							onClick="actionJob('<%=job.assigned_job %>','accepted')">Accept </button>
						<button class="btn btn-outline-danger" id="reject<%=job.assigned_job%>" 
							<% if(job.status!=="none"){ %> 
							<%= "hidden" %> 
						<% } %> onClick="actionJob('<%=job.assigned_job %>','rejected')"
						>Reject</button>
					    <button class="btn btn btn-outline-secondary job-id" id="addcandidates<%=job.assigned_job%>" data-toggle="modal" data-target="#exampleModalCenter<%=job._id%>" style='visibility: <% if(job.status==="accepted"){ %> <%= "visible" %> <% }else{ %><%= "hidden" %><% } %>'>
					    	Add candidates
					    </button>
					    <div id="rejected<%=job.assigned_job%>"  style='color: Red; visibility: <% if(job.status!=="rejected"){ %> <%= "hidden" %> <% }else{ %><%= "visible" %><% } %>'><p>Rejected...</p></div>
					  </div>
					</div>

					</div>

					<div class="modal fade" id="exampleModalCenter<%=job._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLongTitle"><%= job.job_title%></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      
					        <br>
					        	<div class="form-group form-inline">
								  <select class="form-control selectCandidates" id="add<%=job.assigned_job %>" width="100%">
								    <option> Select candidate</option>
								  </select>
								  	&ensp;
								  <button class="btn btn-outline-secondary" data-dismiss="modal" onClick="addCandidate('<%= job.assigned_job %>')">Add </button>
								</div>
					      </div>
					    </div>
					  </div>
					</div>	
				<% }) %>
		</div>		
	</div>

	
<script>
	
	function actionJob(assignedJob,status){
		var newURL =  window.location.pathname;
		var pathArray= newURL.split("/");
		console.log(status)
		var acceptjob=$.post("/freelancerecruiters/"+pathArray[2]+"/actionJob",{assignedJob: assignedJob,jobStatus: status});
		acceptjob.done(function(data){
			$('#accept'+assignedJob).hide();
			$('#reject'+assignedJob).hide();
			if(status==='accepted'){
				$('#addcandidates'+assignedJob).css('visibility','visible');
				$('#addcandidates'+assignedJob).show();
			}else{
				$('#rejected'+assignedJob).css('visibility','visible');
				$('#rejected'+assignedJob).show();
			}
			console.log(data);
		})
	}


	function addCandidate(assignedJob){
		// console.log(assignedJob);
		var newURL =  window.location.pathname;
		var pathArray= newURL.split("/");
		// console.log("here, here"+jobId);
		var candidateId=$('#add'+assignedJob).val();
		console.log(candidateId);
		var addCandidates=$.post("/freelancerecruiters/"+pathArray[2]+"/job/addCandidate",{assignedJob:assignedJob,candidateId: candidateId});

		addCandidates.done(function(data){
			console.log(data);
		})
	}

window.onload= function getAccountManager(){
		$.get({url: "/getCandidates/"},function(candidates, status){
			candidates.forEach(function(candy){
			$('.selectCandidates').append('<option value="'+ candy._id+'"> '+ candy.name + '</option>')
			})
		})
	}

</script>

<%- include('../partials/footer.ejs'); %>
